In [1]:
import seaborn as sns
import pandas as pd

iris = sns.load_dataset("iris")
result = iris.loc[:, ['sepal_length', 'species']]
result.head(1)

   sepal_length species
0           5.1  setosa

### 파일 생성

In [6]:
result.to_excel("dataset/iris_excel_file.xlsx",
             sheet_name='Sheet_name_1',
               index=False)

# Group By 연산
- 집계 함수 같이 사용
- 분석의 목적 : 그룹 별로 비교하고 싶을 때 사용

In [10]:
import seaborn as sns
tips = sns.load_dataset("tips")
tips.head(1)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2

## 성별로 tip 평균 구하기

In [17]:
tips.groupby('sex',observed = True)['tip'].mean

# 통계적으로 유의한가 ; 기초 통계 영역으로 넘어감.

## 요일별 총 결제 금액 구하기

In [19]:
# 요일별 총 결제 금액 구하기
#집계 함수 : sum()

tips.groupby('day', observed = True)['total_bill'].sum()

day
Thur    1096.33
Fri      325.88
Sat     1778.40
Sun     1627.16
Name: total_bill, dtype: float64

## 요일 & 성별로 팁 평균

In [21]:
tips.groupby(['day','sex'], observed = True)['total_bill'].sum()

day   sex
Thur  Male       561.44
      Female     534.89
Fri   Male       198.57
      Female     127.31
Sat   Male      1227.35
      Female     551.05
Sun   Male      1269.46
      Female     357.70
Name: total_bill, dtype: float64

## 식사 시간별 인원 수 평균
- time, size

In [27]:
tips.groupby('time', observed = True)['size'].mean()

time
Lunch     2.411765
Dinner    2.630682
Name: size, dtype: float64

## 두가지 범주 출력 및 변환

In [33]:
result = tips.groupby(['day', 'sex'], observed = True)['size'].mean()
result.unstack() # 히트맵 시각화로 바로 적용

sex       Male    Female
day
Thur  2.433333  2.468750
Fri   2.100000  2.111111
Sat   2.644068  2.250000
Sun   2.810345  2.944444

## 집게함수 2개 사용하기

In [40]:
# tips.groupby(['day', 'sex'], observed = True)['tip'].agg(['sum', 'mean'])
result = tips.groupby(['day', 'sex'], observed = True)[['tip','total_bill']].agg(['sum', 'mean'])
result.columns = ['_'.join(col) for col in result.columns]
result.reset_index()

    day     sex  tip_sum  tip_mean  total_bill_sum  total_bill_mean
0  Thur    Male    89.41  2.980333          561.44        18.714667
1  Thur  Female    82.42  2.575625          534.89        16.715312
2   Fri    Male    26.93  2.693000          198.57        19.857000
3   Fri  Female    25.03  2.781111          127.31        14.145556
4   Sat    Male   181.95  3.083898         1227.35        20.802542
5   Sat  Female    78.45  2.801786          551.05        19.680357
6   Sun    Male   186.78  3.220345         1269.46        21.887241
7   Sun  Female    60.61  3.367222          357.70        19.872222