In [ ]:
import pandas as pd
titanic_url= ''
titanic=pd.read_excel(titanic_url, sheet_name='total')
titanic_df=titanic.drop(['body', 'home.dest'], axis=1)
titanic_df

In [ ]:
titanic_df['age_cat'] = pd.cut(titanic_df['age'], bins=[0, 3, 7, 15, 30, 60, 100], include_lowest=True, labels=['baby', 'children', 'teenage', 'young', 'adult', 'old'])
titanic_df.groupby('age_cat').mean()

NameError: name 'pd' is not defined

In [3]:
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt

data = titanic_df
plt.figure(figsize=[14, 4])
plt.subplot(131)
sns.barplot(x = 'pclass', y = 'survived', data = titanic_df)
plt.subplot(132)
sns.barplot(x = 'age_cat', y = 'survived', data = titanic_df)
plt.subplot(133)
sns.barplot(x = 'sex', y = 'survived', data = titanic_df)
plt.subplots_adjust(top=1, bottom=0.1, left=0.10, right=1, hspace=0.5, wspace=0.5)
plt.show()

NameError: name 'titanic_df' is not defined

In [5]:
titanic_df.groupby(['pclass', 'sex']).mean()

NameError: name 'titanic_df' is not defined

In [6]:
boat_survivors = titanic_df[titanic_df['boat'].notnull()]
nboat_survivors = titanic_df[titanic_df['boat'].isnull()]
print(boat_survivors.groupby('sex')['survived'].mean())
print(nboat_survivors.groupby('sex')['survived'].mean())

NameError: name 'titanic_df' is not defined

In [8]:
f, ax = plt.Subplots(1, 2, figsize=(12, 6))
boat_survivors['Survived'].value_counts().plot.pie(explode = [0, 0.1], autopct = '%1.2f%%',ax = ax[0])
ax[0].set_title('Survived')
ax[0].set_ylabel('')
sns.countplot(x = 'survived', data = boat_survivors, ax = ax[1])
ax[1].set_title('Survived')
plt.show()

AttributeError: module 'matplotlib.pyplot' has no attribute 'Subplots'

In [ ]:
conversion_special = lambda x: x.split(',')[1].split('.')[0].strip()
titanic_df['title'] = titanic_df['name'].map(conversion_special)