>**기출문제 제5회**
>>**01 작업형 제1유형**

## 옵션 설정

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # 모든 칼럼이 출력되게 조절

## 문제 1. 
- 다음 데이터에서 conventional 컬럼의 특수문자를 제거하고, IQR(3분위수-1분위수)를 구하시오. 
- 소수점 첫째 자리에서 반올림

In [2]:
data1 = pd.read_csv('5_1_1.csv')
data1.head()

,minority,crime,poverty,language,highschool,housing,city,conventional,undercount,date
0,26.1,49,18.9,0.2,43.5,7.6,state,*,-0.04,2023-01-01
1,5.7,62,10.7,1.7,17.5,23.6,state,&,3.35,2023-01-02
2,18.9,81,13.2,3.2,27.6,8.1,state,*,2.48,2023-01-03
3,16.9,38,19.0,0.2,44.5,7.0,state,&,-0.74,2023-01-04
4,24.3,73,10.4,5.0,26.0,11.8,state,4,3.60,2023-01-05

In [3]:
# 영어, 숫자, 한국어를 제외한 모든 문자 제거 
data1.loc[:, 'conventional'] = data1.loc[:, 'conventional'].str.replace(r'[^a-zA-Z0-9가-힣]', '', regex=True)
data1.head(5)

,minority,crime,poverty,language,highschool,housing,city,conventional,undercount,date
0,26.1,49,18.9,0.2,43.5,7.6,state,,-0.04,2023-01-01
1,5.7,62,10.7,1.7,17.5,23.6,state,,3.35,2023-01-02
2,18.9,81,13.2,3.2,27.6,8.1,state,,2.48,2023-01-03
3,16.9,38,19.0,0.2,44.5,7.0,state,,-0.74,2023-01-04
4,24.3,73,10.4,5.0,26.0,11.8,state,4,3.60,2023-01-05

In [5]:
# 변환 전 공백 처리, NaN으로 처리
data1.loc[:, 'conventional'] = data1.loc[:, 'conventional'].replace('', np.nan)
data1.loc[:, 'conventional'] = data1.loc[:, 'conventional'].astype(float)

# IQR 계산 
Q1 = data1.loc[:, 'conventional'].quantile(0.25)
Q3 = data1.loc[:, 'conventional'].quantile(0.75)
IQR = Q3 - Q1
print(f'IQR: {IQR}')

IQR: 8.75

## 문제 2. 
- 위 데이터에서 흑인 또는 히스패닉 비율(minority) / 빈곤율(poverty) > 2이며, 도시 유형(city)이 state인 도시의 범죄율(crime) 평균을 구하시오. 
- 소수점 첫째 자리에서 반올림

In [8]:
# minority/poverty > 2 이고 city가 state인 조건의 데이터 추출
filtered_data = data1.loc[(data1.loc[:, 'minority'] / data1.loc[:, 'poverty'] > 2) & 
                         (data1.loc[:, 'city'] == 'state')]

# 조건에 맞는 데이터의 crime 평균 계산
crime_mean = round(filtered_data.loc[:, 'crime'].mean(), 0)

print(f'범죄율 평균: {crime_mean}')

범죄율 평균: 61.0

## 문제 3. 
- 다음 데이터에서 2016년 9월 이후, 온도(actual)의 평균을 구하시오. (소수점 첫째 자리에서 반올림)

In [9]:
data3 = pd.read_csv('5_1_2.csv')
data3.head(1)

   year  month  day week  temp_2  temp_1  average  actual  friend
0  2016      1    1  Fri      45      45     45.6      45      29

In [10]:
# 2016년 9월 이후 데이터 필터링
filtered_data = data3.loc[(data3.loc[:, 'year'] == 2016) & (data3.loc[:, 'month'] >= 9)]

# 필터링된 데이터의 actual 평균 계산 및 반올림
actual_mean = round(filtered_data.loc[:, 'actual'].mean(), 0)

print(f'2016년 9월 이후 온도 평균: {actual_mean}')

2016년 9월 이후 온도 평균: 58.0

In [16]:
# 데이터 가져오기
data3 = pd.read_csv('5_1_2.csv')

# index를 Datetimeindex로 변경 후 평균 계산
# date 컬럼 생성
data3['date'] = pd.to_datetime(dict(year=data3['year'], month=data3['month'], day=data3['day']))

# date를 인덱스로 설정
data3.set_index('date', inplace=True)

# 2016-09-01 이후 데이터 필터링 및 평균 계산
actual_mean = round(data3.loc['2016-09-01':, 'actual'].mean(), 0)

print(f'2016년 9월 이후 온도 평균: {actual_mean}')

2016년 9월 이후 온도 평균: 58.0